
.shadowxd {


  width: 500px;
  height: 70px; 
  display: flex;
  justify-content: center;
  color: #e0dfdc;
  background-color: orange;
  transform: translate(50%, 0);

  letter-spacing: .1em;
  text-shadow: 
  0 -1px 0 #fff, 
  0 1px 0 #2e2e2e, 

  0 5px 30px rgba(0, 0, 0, 0.9);

}

.shadowxd2{

  letter-spacing: .1em;
  text-shadow: 
  0 -1px 0 #fff, 
  0 1px 0 #2e2e2e, 

  0 5px 30px rgba(0, 0, 0, 0.9);


}