.title{
  font-size: 80px;
  background: -webkit-linear-gradient(rgb(236, 222, 222), rgb(248, 15, 132));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}